body{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);

  font-family: "Bitcount Prop Single Ink", system-ui;
}

header{
  font-size: 50px;
}
h1{
  font-size: 30px;
}
P{
  font-size: 30px;
}

